/* FORM */
.cards {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem;
}

.plan > input[type="radio"] {
  display: none;
}

.plan > label {
  padding: 0.9rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.9rem;
  border: 2px solid var(--light-gray);
  border-radius: 0.5rem;
}

.plan > input[type="radio"]:checked ~ label {
  background-color: var(--magnolia);
  border: 2px solid var(--pastel-purple);
}

.plan > label > img {
  width: 2.5rem;
}

.plan > label > div > h4 {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--marine-blue);
}

.plan > label > div > p {
  font-size: 0.8rem;
  color: var(--cool-gray);
}

.plan > label > p {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--pastel-purple);
}

/* BILLING */
.billing {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 0.6rem;
  background-color: var(--magnolia);
  border-radius: 0.5rem;
}

.billing > p {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--marine-blue);
}

.billing > p:nth-child(3) {
  color: var(--cool-gray);
}

.switch {
  position: relative;
  width: 2.6rem;
  height: 1.3rem;
}

.switch > input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: var(--marine-blue);
  border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--pastel-purple);
}

input:checked + .slider:before {
  transform: translateX(1.3rem);
}

/* HOVER */
@media (hover: hover) {
  .plan > label:hover {
    background-color: var(--alabaster);
    border: 2px solid var(--pastel-blue);
    cursor: pointer;
  }

  .slider:hover {
    cursor: pointer;
  }

  .plan_previous > a:hover {
    color: var(--pastel-purple);
    cursor: pointer;
  }

  .plan_next:hover {
    background-color: var(--pastel-purple);
    cursor: pointer;
  }
}

/* MOBILE */
@media (max-width: 800px) {
  .cards {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }

  .plan > label {
    padding: 0.9rem 1rem;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .plan > label > p {
    margin-left: auto;
  }
}
