/* SUMMARY */
.summary_container {
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.summary {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: var(--alabaster);
}

.summary_plan {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}

.summary_plan > div > h4 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--marine-blue);
}

.summary_plan > div > a {
  font-size: 0.9rem;
  color: var(--pastel-purple);
  text-decoration: none;
}

.summary_plan > h3 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--marine-blue);
}

.summary_addon {
  display: flex;
  justify-content: space-between;
}

.summary_addon > p {
  font-size: 0.95rem;
  color: var(--cool-gray);
}

.summary_addon > h3 {
  font-weight: 500;
  font-size: 0.95rem;
  color: var(--marine-blue);
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.total > p {
  font-size: 1rem;
  color: var(--marine-blue);
}

.total > h3 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--pastel-purple);
}

/* HOVER */
@media (hover: hover) {
  .summary_plan > div > a:hover {
    font-weight: 600;
    color: var(--pastel-purple);
    text-decoration: underline;
  }
}

/* MOBILE */
@media (max-width: 800px) {
  .summary_container {
    padding: 2rem;
  }
}
