/* THANKS */
.thanks_container {
  margin-top: 8rem;
  padding: 5rem 2rem;
  background-color: var(--white);
  border-radius: 0.6rem;
  border: 2px solid var(--light-gray);
}

.thanks_title > img {
  display: flex;
  margin: auto;
}

.thanks_title > h1 {
  font-size: 2rem;
  color: var(--marine-blue);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.thanks_title > p {
  font-size: 1.1rem;
  color: var(--cool-gray);
  text-align: center;
  text-wrap: balance;
}
